<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:fragment="tabtab">
    <table class="table table-bordered  table-striped table-responsive">
        <thead>
        <tr class="btn-info">
            <th>School Department</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(itemDetails)}" class="btn-default">
            <td colspan="2" align="center">No Saved Group Yet!!!</td>
        </tr>
        <div th:each="val : ${itemDetails}">
            <tr>
                <input type="hidden" th:value="*{val.id}"/>
                <td th:text="${val.grade}"></td>

                <td align="center">
                    <!--<a th:href="@{/task/edit/{id}(id=${val.id})}">-->
                    <!--<span class="fa fa-edit" data-toggle="tooltip"-->
                    <!--data-placement="top" title="Edit Task"></span></a>-->
                    <a th:href="@{/admin/update/{id}(id=${val.id})}" class="eBtn">
                                            <span class="fa fa-edit" data-toggle="tooltip"
                                                  data-placement="top" title="Edit"></span></a>
                    &nbsp; &nbsp;
                    <a data-toggle="modal" data-target="#modal-toTrash"
                       th:attr="data-target='#modal-toTrash'+${val.id}">
                                            <span class="fa fa-trash" data-toggle="tooltip"
                                                  data-placement="top" title="Sent to Trash Box"></span></a>
                </td>
                <!--start send to trash modal-->
                <div class="modal modal-toTrash" th:id="modal-toTrash+${val.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h3 id="myModal">Delete Confirmation</h3>
                            </div>
                            <div class="modal-body">
                                <p class="error-text"><strong>Are you sure you want to
                                    delete this task ?</strong></p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn " data-dismiss="modal" aria-hidden="true">
                                    Cancel
                                </button>
                                <a th:href="@{/admin/schoolGroup/delete/{id}(id=${val.id})}">
                                    <span class="btn btn-danger" value="delete">Delete</span></a>

                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!--end send to trash modal-->


            </tr>
        </div>

        </tbody>
    </table>
</div>
</body>
</html>