<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>

</head>

<body>
<div th:fragment="tabtab">
    <!--<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">-->
        <!--<thead>-->
        <!--<tr class="btn-info">-->
            <!--<th>School Department</th>-->
            <!--<th>Action</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:if="${#lists.isEmpty(itemDetails)}" class="btn-default">-->
            <!--<td colspan="2" align="center">No Saved Group Yet!!!</td>-->
        <!--</tr>-->
        <!--<div th:each="val : ${itemDetails}">-->
            <!--<tr>-->
                <!--<input type="hidden" th:value="*{val.id}"/>-->
                <!--<td th:text="${val.grade}"></td>-->

                <!--<td align="center">-->
                    <!--&lt;!&ndash;<a th:href="@{/task/edit/{id}(id=${val.id})}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="fa fa-edit" data-toggle="tooltip"&ndash;&gt;-->
                    <!--&lt;!&ndash;data-placement="top" title="Edit Task"></span></a>&ndash;&gt;-->
                    <!--<a th:href="@{/admin/department/update/{id}(id=${val.id})}" class="eBtn" id="class">-->
                                            <!--<span class="fa fa-edit" data-toggle="tooltip"-->
                                                  <!--data-placement="top" title="Edit"></span></a>-->
                    <!--&nbsp; &nbsp;-->
                    <!--<a data-toggle="modal" data-target="#modal-toTrash"-->
                       <!--th:attr="data-target='#modal-toTrash'+${val.id}">-->
                                            <!--<span class="fa fa-trash" data-toggle="tooltip"-->
                                                  <!--data-placement="top" title="Sent to Trash Box"></span></a>-->
                <!--</td>-->
                <!--&lt;!&ndash;start send to trash modal&ndash;&gt;-->
                <!--<div class="modal modal-toTrash" th:id="modal-toTrash+${val.id}">-->
                    <!--<div class="modal-dialog">-->
                        <!--<div class="modal-content">-->
                            <!--<div class="modal-header">-->
                                <!--<button type="button" class="close" data-dismiss="modal"-->
                                        <!--aria-hidden="true">×-->
                                <!--</button>-->
                                <!--<h3 id="myModal">Delete Confirmation</h3>-->
                            <!--</div>-->
                            <!--<div class="modal-body">-->
                                <!--<p class="error-text"><strong>Are you sure you want to-->
                                    <!--delete this task ?</strong></p>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button class="btn " data-dismiss="modal" aria-hidden="true">-->
                                    <!--Cancel-->
                                <!--</button>-->
                                <!--<a th:href="@{/admin/schoolGroup/delete/{id}(id=${val.id})}">-->
                                    <!--<span class="btn btn-danger" value="delete">Delete</span></a>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.modal-content &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash;end send to trash modal&ndash;&gt;-->


            <!--</tr>-->
        <!--</div>-->

        <!--</tbody>-->
    <!--</table>-->
    <!--&lt;!&ndash;<ul class="nav nav-pills" id="postMe">&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="nav-item" th:each="i : ${#numbers.sequence(0,itemDetails.size()-1)}">&ndash;&gt;-->
            <!--&lt;!&ndash;<a  id="dome" th:href="@{/admin/department/(page=${i})}"  th:text="${i}" class="nav-link" onClick="sendData()"&ndash;&gt;-->
               <!--&lt;!&ndash;th:classappend="${currentPage}==${i}?'active':'' "></a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--<hr/>-->
    <table id="employeesTable" class="display">
    <!-- Header Table -->
    <thead>
    <tr>
        <th>School Department</th>
        <th>Action</th>
    </tr>
    </thead>
    <!-- Footer Table -->
    <tfoot>
    <tr>
        <th>School Department</th>
        <th>Action</th>
    </tr>
    </tfoot>
    </table>

</div>
</body>
</html>