<!doctype html>
<html lang="en" th:fragment="layout (template, menu)">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GotIt :: Computer Based Test</title>


    <!-- Main css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/material-design-iconic-font.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>


</head>

<body>

<div class="main">


    <th:block th:include="${template}"/>


</div>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>

</html>