<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">

</head>

<body>
<header th:insert="fragments.html :: nav">
</header>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<!-- Page content goes here -->
<!--/*@thymesVar id="classSchool" type="got.cbtproject.gotcbt.model.SchoolClass"*/-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="pull-right">Student\Edit</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div th:if="${msg eq 'success'}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;
                </button>
                School Class Saved <strong> Successfully</strong>
            </div>
            <div th:if="${msg eq 'update'}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;
                </button>
                School Group <strong> update Successful!!</strong>
            </div>
            <div th:if="${msg eq 'delete'}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;
                </button>
                School Class delete <strong> Successful!!</strong>
            </div>
            <div th:if="${msg eq 'fail'}" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;
                </button>
                <strong></strong>
                <input th:text="${msg}"/>
                <strong>Unexpected error occurred !!! Please try later.</strong>
            </div>
            <div th:if="${msg eq 'exist'}" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;
                </button>
                <strong>School Class Name already exist!</strong>
            </div>
            <div th:if="${msg eq 'active'}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;
                </button>
                <strong><h6 th:text="${msgText}"/></strong>
            </div>
            <div th:if="${msg eq 'active_fail'}" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;
                </button>
                <strong>Error !!!</strong> <h6 th:text="${msgText}"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form th:object="${editClass}" th:action="@{/admin/schoolgroup/update}" method="post">

                <div class="form-group">
                    <input type="hidden" id="id" th:field="*{id}"/>
                    <label>Department:</label>
                    <input type="text" th:field="*{classType}" class="form-control pull-right"
                           required="required"
                           placeholder="Add Department"/>
                </div>
                <div class="float-right btn-send">
                    <button class="btn btn-success btn-md"><span class="glyphicon glyphicon-send"></span>
                        Update
                    </button>
                </div>

            </form>
        </div>
    </div>


</div>
</body>
</html>